.main {
  height: 60px;
}

.inner {
  display: flex;
  max-width: 900px;
  padding: 0px 18px;
  margin: auto;
  align-items: center;
}

.logo {
  position: relative;
  width: calc(60px * 16 / 9);
  height: 100%;
}

.search {
  margin-left: auto;
}
