.main {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 18px;
}

.logo {
  position: relative;
  width: calc(60px * 16 / 9);
  height: 100%;
}

.search {
  margin-left: auto;
}
