/* KontenBox */
.kontenBox {
  position: relative;
  overflow: hidden;
}

.chapter {
  transform: translateX(0%);
  transition: 0.3s ease-out;
}

.kontenBox:global(.Sinopsis) > .chapter {
  transform: translateX(100%);
}

:global(.aktif) > .sortType {
  color: var(--main);
  transition: 0.1s ease-in;
}

@media (min-width: 768px) {
  .infoKonten .genreBox {
    font-size: 1rem;
  }
}
