.banner {
  position: relative;
}

.bannerImage {
  position: relative;
  padding-top: 50%;
}

.infoKonten {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 14px 18px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.infoJudul {
  margin-bottom: 2px;
}

.infoGenre {
  display: flex;
}

.infoKonten .genreBox {
  font-size: 0.86rem;
  margin-top: 8px;
  margin-right: 4px;
  padding: 4px 6px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.menu {
  border-bottom: 1px solid rgb(246, 246, 246);
}

.tombolMenu {
  height: 50px;
  width: 50%;
  display: inline-flex;
  justify-content: center;
}

.textTombol {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.textTombol::after {
  content: "";
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  border-radius: 4px;
  border-bottom: 3px solid var(--main);
}

.tombolAktif > .textTombol {
  color: var(--main);
  font-size: 1.05rem;
}

.tombolAktif > .textTombol::after {
  display: block;
}

@media (min-width: 768px) {
  .infoKonten .genreBox {
    font-size: 1rem;
  }
}
