.banner {
  position: relative;
}

.bannerImage {
  position: relative;
  padding-top: 50%;
}

.infoKonten {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 14px 18px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6026785714285714) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.infoTitle {
  margin-bottom: 2px;
}

.tombols {
  display: flex;
  margin-top: 8px;
  padding: 8px 18px;
}

.tombolFavorit {
  flex: 1;
}
.tombolFavorit svg {
  margin-right: 4px;
}

.tombolMulaiBaca {
  margin-left: 14px;
  flex: 2.2;
}

.infoKonten2 {
  padding: 14px 18px;
}

.infoGenre {
  display: flex;
  margin-bottom: 8px;
}

.genre {
  border: 1px solid black;
  padding: 2px 14px;
  margin-right: 8px;
  border-radius: 25px;
}

.genre:hover {
  color: white;
  background: black;
}
