.menu {
  padding: 0px 18px;
}

.tipeKomik {
  font-size: 0.875rem;
  display: flex;
  height: 45px;
  width: 100%;
}

.tombolTipeKomik {
  position: relative;
  width: 100%;
}

.tipeGenreWrapper {
  font-size: 0.75rem;
  font-weight: 900;
}

.tipeGenre {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 169px;
}

.tombolGenre {
  position: relative;
  white-space: nowrap;
  width: calc(100% / 3);
  padding: 4px;
}

@media (min-width: 768px) {
  .tipeKomik {
    font-size: 1rem;
  }

  .tipeGenreWrapper {
    font-size: 0.88rem;
  }
}
