* {
  font-family: "apercu";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
  font-weight: 900;
}

.swiper {
  padding: 18px;
}

.swiper-slide {
  padding-top: 50%;
}

.swiper-slide img {
  border-radius: 4px;
  padding-top: 50%;
}
