* {
  font-family: "apercu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 16px;
}

:root {
  --main: #ff4a22;
  --lightenMainHover: rgb(255, 74, 34, 0.5);
  --lightenMain: rgb(255, 74, 34, 0.12);
  --onMain: white;
  --garisPembatas: #f6f6f6;
  /* swiper */
  --swiper-pagination-color: var(--main);
  --swiper-pagination-bullet-inactive-color: white;
  --infoTipe-color: #d83f1d;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 26px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

.hr {
  border: 1px solid var(--garisPembatas);
  margin: 0px 8px;
}

.br {
  border: 1px solid var(--garisPembatas);
  margin: 8px 0px;
}

/* Swiper */

.swiper-slide-prev,
.swiper-slide-next {
  filter: brightness(50%);
}

.chevron-left {
  transform: rotate(180deg);
}

main {
  max-width: 900px;
  margin: auto;
}

/* selection menu */
.selectionMenu,
.singleMenuSelection {
  display: flex;
}

.selectionMenu_checkbox {
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.child {
  position: relative;
  justify-content: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  html {
    font-size: 18px;
  }
}
