/* Konten Box */
.KontenBox {
  font-size: var(--kontenBox-fontSize);
  padding: 0 10px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 8px 8px 6px;
}

.tombolLagi {
  font-family: "apercu";
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Thumbnail */
.thumbnailList {
  display: flex;
}

.thumbnail {
  width: calc(100% / 3);
  padding: 8px;
}

.thumbnailImageBox {
  position: relative;
  padding-top: 133%;
}

.thumbnailImage {
  border-radius: 3px;
}

.description {
  margin-top: 4px;
}

.infoTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
