.KontenBox {
  padding: 0 10px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 8px;
}

.tombolLagi {
  margin-left: auto;
}

/* Thumbnail */
.thumbnailList {
  display: flex;
}

.thumbnail {
  width: calc(100% / 3);
  padding: 8px;
}

.thumbnailImage {
  position: relative;
  padding-top: 133%;
}

.thumbnailImage img {
  border-radius: 3px;
}
