.menu :global(.hr) {
  margin: 8px 0px;
}

.main {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
  font-size: 0.75rem;
}

/* Menu Tipe Genre */
.tipeGenreWrapper {
  font-weight: 900;
}

:global(.all) .tipeGenre {
  height: 100%;
}

.tipeGenre {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
}

.tipeGenreWrapper :global(.hr) {
  margin-top: 8px;
}

.tombolGenre {
  height: 40px;
  white-space: nowrap;
  width: calc(100% / 3);
  padding: 4px;
}

/* Tombol Lebih Banyak */

.lebihBanyak {
  font-size: 0.9em;
  font-weight: 700;
  padding: 8px 4px 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.all) .lebihBanyakIcon {
  transform: rotate(0deg);
  fill: var(--darkenGray);
}

.lebihBanyakIcon {
  margin-left: 4px;
  transform: rotate(180deg);
  fill: var(--gray);
  stroke: none;
}

/* Menu Tipe Komik */

.tipeKomik {
  display: flex;
}

.tombolTipeKomik {
  height: 30px;
  width: calc(100% / 4);
}

/* Tombol search */
.tombolSearchWrapper {
  padding: 0px 18px;
  font-weight: 900;
  z-index: 1;
}

.tombolSearch {
  cursor: pointer;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--onMain);
  background: var(--main);
  transition: 0.1s cubic-bezier(0, 0.44, 0.65, 1.25);
}

/* Header */
.header {
  color: var(--main);
  margin-top: 18px;
  margin-bottom: 8px;
  padding-left: 8px;
}

/* Thumbnail */
.thumbnailWrapper {
  padding: 0px 14px;
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  .menu {
    font-size: 0.88rem;
  }

  .tombolGenre {
    height: 50px;
  }

  /* Menambah Effect Ditekan Pada Mobile */
  .lebihBanyak {
    cursor: pointer;
  }

  /*  */
  .tombolTipeKomik {
    height: 45px;
  }

  .tipeGenre {
    height: 150px;
  }

  /* Animasi Untuk Desktop */
  .tombolSearch:hover {
    background: var(--mainHover);
  }

  .tombolSearch:active {
    transform: scale(0.9);
  }
}

@media (max-width: 768px) {
  /* Ubah Tombol Menjadi Mode Mobile (Fixed Bottom) */
  .tombolSearchWrapper {
    position: fixed;
    max-width: 900px;
    width: 100%;
    bottom: 18px;
  }

  /* Animasi Untuk Mobile */
  .tombolSearch:hover {
    transform: scale(0.9);
  }
}
